/* App.css */

.navbar {
  margin-top: 20px;
  margin-left: 250px;
  margin-right: 250px;
  display: flex;
  justify-content: center;
  border: 1px solid white;
  background: linear-gradient(to bottom, transparent, #888);
  border-radius: 20px;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.icon {
  position: absolute; /* Position the icon absolutely within the navbar */
 }
.icon1{

  top: 400px;
  left: 20px;
  transform: rotate(30deg);
 /* Rotate the icon by 30 degrees */
}
.icon2{

  bottom: 400px;
  left: 0px;

}
.icon3{

  top: 10px;
  left: 0px;
  transform: rotate(-20deg);
 /* Rotate the icon by 30 degrees */
}
.icon4{
  top: 60px;
  left: 20px;
  transform: rotate(90deg)
}
.icon5{

  top: 178px;
  left: 60px;
  transform: rotate(30deg);
 
}
.icon6{

  top:80px;
  left:240px;
  transform: rotate(30deg)
}
.icon7{
  top: 150px;
  left: 175px;
  transform: rotate(30deg)
}
.icon8{
  top: 345px;
  left: 175px;
  transform: rotate(30deg)
}
.icon9{
  top: 230px;
  left: 180px;
  transform: rotate(30deg)
}
.icon10{
  bottom:0px;
  left:150px;
  transform: rotate(30deg);
  width: 80px; /* Adjust the width value as per your desired size */
  height: 80px; /* Adjust the height value as per your desired size */
  
}
.icon11{
  left:320px;
  bottom:10px;
}
.icon12{
  right:200px;
  top: 55px;
  transform: rotate(1200deg)
}
.icon13{
  right:140px;
  top: 200px;
  transform: rotate(360deg)
}
.icon14 {
  right: 0px;
  top: 320px;
  transform: rotate(360deg);
  width: 100px; /* Adjust the width value as per your desired size */
  height: 100px; /* Adjust the height value as per your desired size */
}

.icon15{
  left:1050px;
  top: 150px;
  transform: rotate(360deg)
}
.icon16{
  left:1100px;
  top: 100px;
  transform: rotate(360deg)
}
.icon17{
  left:900px;
  bottom: 100px;
 
}
.icon18 {
  left: 960px;
  bottom: 2px;
  width: 100px; /* Adjust the width value as per your desired size */
  height: 100px; /* Adjust the height value as per your desired size */
}
.icon19 {
  left: 1100px;
  bottom: 10px;
  width: 80px; /* Adjust the width value as per your desired size */
  height: 80px; /* Adjust the height value as per your desired size */
}
.icon20 {
  right:100px;
  bottom: 90px;
  width: 80px; /* Adjust the width value as per your desired size */
  height: 80px; /* Adjust the height value as per your desired size */
}
.icon21 {
  left:10px;
  bottom: 100px;
  width: 100px; /* Adjust the width value as per your desired size */
  height: 100px; /* Adjust the height value as per your desired size */
}
