.download-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d1b19;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 20px auto;
    margin-left: 150px;
    margin-right: 150px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .download-button:hover {
    background-color: #ffd500;
  }
  
  .download-text {
    margin: 0;
  }
  
  
  