@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar{
    background: linear-gradient(180deg, rgba(255, 251, 253, 0.23) 20.86%, rgba(0, 0, 0, 0.35) 235.71%);
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.12), inset 0px 0px 48px 5px rgba(0, 0, 0, 0.03);
    backdrop-filter: blur(4.5px);
    border-radius: 62px;
}
.carousel-item{
    background: #E6E6E6;
    box-shadow: 0px 4px 4px rgba(132, 128, 128, 0.25);
    border-radius: 20px;
}
.footer-description{
    background: linear-gradient(180deg, #DF5AE1 0%, #465DD8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.bg-icons {
    animation: sway 16s infinite;
    transform-origin: 50% 100% 0;
}
@keyframes sway {
    0%, 100%{ transform: rotate(-8deg);}
    50%{ transform: rotate(6deg); }
}
 .instagram-icon {
    margin-right: 100px;
  }
  .instagram-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    width: 31px; /* Set the width and height to match the desired dimensions */
    height: 31px;
    overflow: hidden; /* Ensure the circular shape is maintained */
    border-radius: 30%;
  }
  
  .instagram-link img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Prevent the image from stretching */
    border: none; /* Remove the default image border */
    transform: scale(1); /* Set the initial scale to 1 */
    transition: transform 0.3s ease; /* Add transition for smooth effect */
  }
  
  .instagram-link:hover img {
    transform: scale(0.8); /* Apply scale of 0.8 for zoom out effect */
  }
  
  .instagram-link:hover {
    border: 1px solid;
    border-image-source: linear-gradient(180deg, #B95BDF 0%, #665DDA 100%);
    border-image-slice: 1;
  }
  .bullet {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    display: inline-block;
  }
  
  .bullet-filled {
    background-color: black;
    border-radius: 50%;
  }
  
  .bullet-empty {
    border: 2px solid black;
    border-radius: 50%;
  }
  
  
